/data
coverage.txt
.DS_Store
.idea/
.vscode/
__debug_bin
**/client
!**/client/main.go
**/docker.local/blobber*
**/blobber/blobber/blobber
**/blobber/blobber/logs
**/blobber/blobber/files
**/blobber/blobber/data
**/pkg/
dev.local/data
out/
**/tmp/
*.tar.gz
**/descriptor.proto
**/objectpath_test.go