version: "3"
services:
  postgres:
    image: postgres:14
    environment:
      POSTGRES_PORT: 5432
      POSTGRES_HOST: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
      POSTGRES_HOST_AUTH_METHOD: trust
#expose_ci_port
    volumes:
      - ./blobber${BLOBBER}/data/postgresql:/var/lib/postgresql/data
      - ./sql_init:/docker-entrypoint-initdb.d
    networks:
      default:
  validator:
    image: validator
    environment:
      - DOCKER= true
    depends_on:
      - postgres-post
    links:
      - postgres-post:postgres-post
    volumes:
      - ${CONFIG_PATH:-../config}:/validator/config #value after :- is default value
      - ./blobber${BLOBBER}/data:/validator/data
      - ./blobber${BLOBBER}/log:/validator/log
      - ./keys_config:/validator/keysconfig
    ports:
      - "506${BLOBBER}:506${BLOBBER}"
    command: ./bin/validator --port 506${BLOBBER} --hostname 198.18.0.6${BLOBBER} --deployment_mode 0 --keys_file keysconfig/b0vnode${BLOBBER}_keys.txt --log_dir /validator/log
    networks:
      default:
      testnet0:
        ipv4_address: 198.18.0.6${BLOBBER}

  blobber:
    image: blobber
    environment:
      - DOCKER= true
    depends_on:
      - validator
    links:
      - validator:validator
    volumes:
      - ${CONFIG_PATH:-../config}:/blobber/config
      - ./blobber${BLOBBER}/files:/blobber/files
      - ./blobber${BLOBBER}/data:/blobber/data
      - ./blobber${BLOBBER}/log:/blobber/log
      - ./keys_config:/blobber/keysconfig
      - ./blobber${BLOBBER}/data/tmp:/tmp
    ports:
      - "505${BLOBBER}:505${BLOBBER}"
      - "3150${BLOBBER}:3150${BLOBBER}"
    command: ./bin/blobber --port 505${BLOBBER} --grpc_port 3150${BLOBBER} --hostname 198.18.0.9${BLOBBER} --deployment_mode 0 --keys_file keysconfig/b0bnode${BLOBBER}_keys.txt --files_dir /blobber/files --log_dir /blobber/log --db_dir /blobber/data
    networks:
      default:
      testnet0:
        ipv4_address: 198.18.0.9${BLOBBER}

networks:
  default:
    driver: bridge
  testnet0:
    external: true
    # driver: bridge
    # ipam:
    #   config:
    #     - subnet: 198.18.0.0/15
    #     - gateway: 198.18.0.255


volumes:
  data:
  config:
  bin:
