version: "3"
services:
  postgres:
    image: postgres:14
    environment:
      POSTGRES_PORT: 5432
      POSTGRES_HOST: postgres
      POSTGRES_USER: postgres
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - 5432:5432
    volumes:
      - ./blobber${BLOBBER}/data/postgresql:/var/lib/postgresql/data
      - ./sql_init:/docker-entrypoint-initdb.d
    networks:
      default:
  postgres-post:
    image: postgres:14
    environment:
      POSTGRES_PORT: 5432
      POSTGRES_HOST: postgres
      POSTGRES_USER: postgres
    volumes:
      - ../bin:/blobber/bin
      - ../sql:/blobber/sql
    command: bash /blobber/bin/postgres-entrypoint.sh
    links:
      - postgres:postgres

networks:
  default:
    driver: bridge
  testnet0:
    external: true
    # driver: bridge
    # ipam:
    #   config:
    #     - subnet: 198.18.0.0/15
    #     - gateway: 198.18.0.255


volumes:
  data:
  config:
  bin:
