version: "3"
services:
  postgres:
    image: postgres:14
    volumes:
      - ./blobber${BLOBBER}/data/postgresql:/var/lib/postgresql/data
      - ./sql_init:/docker-entrypoint-initdb.d
    networks:
      default:
    ports:
      - "543${BLOBBER}:5432"
    labels:
      zchain: "postgres"
  postgres-post:
    image: postgres:14
    environment:
      POSTGRES_PORT: 5432
      POSTGRES_HOST: postgres
      POSTGRES_USER: postgres
    volumes:
      - ../bin:/blobber/bin
      - ../sql:/blobber/sql
    labels:
      zchain: "postgres-post"
    command: bash /blobber/bin/postgres-entrypoint.sh
    links:
      - postgres:postgres
  validator:
    image: validator
    environment:
      - DOCKER= true
    depends_on:
      - postgres-post
    links:
      - postgres-post:postgres-post
    volumes:
      - ../config:/validator/config
      - ./blobber${BLOBBER}/data:/validator/data
      - ./blobber${BLOBBER}/log:/validator/log
      - ./keys_config:/validator/keysconfig
    ports:
      - "506${BLOBBER}:506${BLOBBER}"
    labels:
      zchain: "validator"
    command: ./bin/validator --port 506${BLOBBER} --hostname localhost --deployment_mode 0 --keys_file keysconfig/bnode${BLOBBER}_keys.txt --log_dir /validator/log
    networks:
      default:
      testnet0:
        ipv4_address: 198.18.0.6${BLOBBER}

  blobber:
    image: blobber
    depends_on:
      - validator
    links:
      - validator:validator
    volumes:
      - ../config:/blobber/config
      - ./blobber${BLOBBER}/files:/blobber/files
      - ./blobber${BLOBBER}/data:/blobber/data
      - ./blobber${BLOBBER}/log:/blobber/log
      - ./keys_config:/blobber/keysconfig
    ports:
      - "505${BLOBBER}:505${BLOBBER}"
      - "506${BLOBBER}:506${BLOBBER}"
      - "703${BLOBBER}:703${BLOBBER}"
    labels:
      zchain: "blobber"
    command: ./bin/blobber --port 505${BLOBBER} --https-port 506${BLOBBER} --https-cert-file config/localhost.crt --https-key-file config/localhost.key --grpc_port 703${BLOBBER} --hostname localhost --deployment_mode 0 --keys_file keysconfig/bnode${BLOBBER}_keys.txt --files_dir /blobber/files --log_dir /blobber/log --db_dir /blobber/data
    networks:
      default:
      testnet0:
        ipv4_address: 198.18.0.9${BLOBBER}

networks:
  default:
    driver: bridge
  testnet0:
    external: true
    # driver: bridge
    # ipam:
    #   config:
    #     - subnet: 198.18.0.0/15
    #     - gateway: 198.18.0.255

volumes:
  data:
  config:
  bin:
