<!DOCTYPE html>
<html>
  <head>
    <title>Blobber Diagnostics</title>
  </head>
  <body>
    <h1>
      Blobber Stats
    </h1>
    <table border="1">
      <tr>
        <td>ID</td>
        <td>{{ .ClientID }}</td>
      </tr>
      <tr>
        <td>PublicKey</td>
        <td>{{ .PublicKey }}</td>
      </tr>
      <tr>
        <td>Capacity</td>
        <td>{{ .Capacity }}</td>
      </tr>
      <tr>
        <td>Allocations</td>
        <td>{{ .NumAllocation }}</td>
      </tr>
      <tr>
        <td>Temp Folder Size</td>
        <td>{{ .TempFolderSize }}</td>
      </tr>

      <tr>
        <td>Used Size</td>
        <td>{{ .UsedSize }}</td>
      </tr>
      <tr>
        <td>Disk Size Used</td>
        <td>{{ .DiskSizeUsed }}</td>
      </tr>
      <tr>
        <td>Writes</td>
        <td>{{ .NumWrites }}</td>
      </tr>
      <tr>
        <td>Reads</td>
        <td>{{ .NumReads }}</td>
      </tr>
      <tr>
        <td>Total Challenges</td>
        <td>{{ .TotalChallenges }}</td>
      </tr>
      <tr>
        <td>Open Challenges</td>
        <td>{{ .OpenChallenges }}</td>
      </tr>
      <tr>
        <td>Passed Challenges</td>
        <td>{{ .SuccessChallenges }}</td>
      </tr>
      <tr>
        <td>Failed Challenges</td>
        <td>{{ .FailedChallenges }}</td>
      </tr>
      <tr>
        <td>Redeemed Challenges</td>
        <td>{{ .RedeemSuccessChallenges }}</td>
      </tr>
      <tr>
        <td>Redeem Errored Challenges</td>
        <td>{{ .RedeemErrorChallenges }}</td>
      </tr>
    </table>

    <h1>
      Allocation Stats
    </h1>
    <table border="1">
      <tr>
        <td>ID</td>
        <td>Used Size</td>
        <td>Disk Size Used</td>
        <td>Writes</td>
        <td>Reads</td>
        <td>Total Challenges</td>
        <td>Open Challenges</td>
        <td>Passed Challenges</td>
        <td>Failed Challenges</td>
        <td>Redeemed Challenges</td>
        <td>Redeem Errored Challenges</td>
        <td>Given Up Challenges</td>
      </tr>
      {{range .AllocationStats}}
      
      <tr>
        <td>{{ .AllocationID }}</td>
        <td>{{ .UsedSize }}</td>
        <td>{{ .DiskSizeUsed }}</td>
        <td>{{ .NumWrites }}</td>
        <td>{{ .NumReads }}</td>
        <td>{{ .TotalChallenges }}</td>
        <td>{{ .OpenChallenges }}</td>
        <td>{{ .SuccessChallenges }}</td>
        <td>{{ .FailedChallenges }}</td>
        <td>{{ .RedeemSuccessChallenges }}</td>
        <td>{{ .RedeemErrorChallenges }}</td>
        {{ range $key, $value := .GivenUpChallenges }}
           <li>{{ $key }}</li>
        {{ end }}
      </tr>
      {{end}}
    </table>
  </body>
</html>
